<header>
    <a (click)=loginHome()><div class="branding"></div></a>                
    <div class="bg-grad">
        <div class="psudo"></div>
        <ul><a (click)=loginHome()><li>Home</li></a></ul>
    </div>
    <div class="loginout">
      <a routerLink="/admin"><img src="./assets/images/sow-login.svg" alt=""></a>
    </div>
</header>

<!-- <div class="bg-modal">
    <div class="modal-card">
        <div class="login-grid">
            <div class="ribbon">
                <p>Enter SOW Tool Credentials</p>
                <img src="../../assets/images/wipro-logo.svg" alt="">
            </div>
            <div class="login-form">
              <form action="" class="form-group">
                <div class="form-row">  
                   <div class="form-label">
                      <label for="frm_email">Email address: </label>
                   </div>
                   <div class="form-input">
                        <input type="email" name="frm_email" class="form-control">
                    </div>
                </div>
              </form>
            </div>
        </div>
    </div>
</div>     -->
                        <!-- <label for="frm_pwd">Password: </label>
                        <input type="email" name="frm_pwd" class="form-control">
                                  
                                
                                  <div class="form-label">
                                     <label for="frm_vbuy_po">VBUY Po Number</label>
                                  </div>
                                  <div class="form-input">
                                     <input type="text" name="frm_vbuy_po" class="form-control" placeholder="">
                                  </div>
                                </div>                         -->
         
            <!-- </div>
        </div>
    </div>
</div>
            
            <div class="login-mode">
                <a href="#">Login</a>
            </div>
            <div class="signup-mode">
               <a href="#">SignUp</a>
            </div> -->
            
        
        <!-- <form action="#">
                <label for="frm_email"></label>
                <input type="text" name="txt-email" type="email">        
                <label for="frm_pwd"></label>
                <input type="text" name="txt-email" type="password">
        </form> -->
    <!-- </div> -->
<!-- </div> --> 
