<div class="sow-header-content">    
        <div class="prj-landing-bg">
            <div class="sow-return-data">
                <!-- <div class="sow-return-progress"> -->
                    <!-- <div class="sow-progress-bars">
                        <div class="bars-clip"></div>
                        <div class="bars one"></div>
                        <div class="bars two"></div>
                        <div class="bars thr"></div>
                        <div class="bars fou"></div>
                        <div class="bars fiv"></div> 
                    </div> -->
                <!-- </div>  -->
                <div class="sow-return-log">
                    <div class="sow-progress-logs">
                        <div class="console-head">
                            <div class="console-dot dot-red"></div>
                            <div class="console-dot dot-ylo"></div>
                            <div class="console-dot dot-grn"></div>
                        </div>
                        <div class="console-body">
                            <div class="submit_progress_header">
                                <p>Submitting SOW Data and preparing it for Dashboard ..........</p>
                            </div> 
                            <div class="submit_progress_data">
                                {{firstRecord}}<br>
                                {{secondRecord}}<br>
                            </div>
                            
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    </div>
