<div class="sidebar">
     <div class="owner_grid">
          <img src="../assets/images/sow-users.png" alt=""> 
               <p>Charath Chandra</p>
     </div>
     <div class="menu-grid">
          <div class="menu-items">
               <a (click)="genDashboard()"><p>Dashboard</p></a>
               <a (click)="addProject()"> <p>Add Project</p></a>
               <a (click)="addSow()"><p>Add SOW</p></a>
               <a (click)="updateMilestone()"><p>Update Milestone</p></a>
               <a (click)="sendReminder()"><p>Send Reminder</p></a>
               <a (click)="uploadSOW()"><p>Upload SOW</p></a>          
          </div>
     </div>
</div>