<!-- Hero Section -->
<main>
  <div class="heroimg1">
    <h1>Welcome to SOW Tracker Demo.</h1>
    <a href="#" class="imgbtn">Request Access</a>   
  </div>
  <div class="heroimg2"></div>            
</main>
<!-- Hero Section Ends -->

<!-- Features Section -->
<section class="features">
        <div class="info">
            <div class="info-img info-img-1"></div>
            <p>Request Access/Authenticate</p>
            <p class="lorem">Send access request to Admin. SignUp when ready</p> 
        </div>
        <div class="info">
            <div class="info-img info-img-2"></div>
            <p>Add a Project</p>
            <p class="lorem">New Contract? Add a project to the Tracker</p>
        </div>
        <div class="info">
            <div class="info-img info-img-3"></div>
            <p>Add Statement of Work</p>
            <p class="lorem">Add New SOWs and Owners to the Project</p>
        </div>
        <div class="info">
            <div class="info-img info-img-4"></div>
            <p>Reached a Milestone?</p>
            <p class="lorem">Add Milestone dates and track the invoices</p>
        </div>
        <div class="info">
            <div class="info-img info-img-5"></div>
            <p>Upload SOW Document</p>
            <p class="lorem">Upload SOW Documents to a Durable Storage</p>
        </div>
        <div class="info">
            <div class="info-img info-img-6"></div>
            <p>Milestone Reminders</p>
            <p class="lorem">Get Reminders and reports to invoice a Milestone</p>
        </div>
    </section>
    <!-- Features Section Ends -->
    
